body{
	margin: 0;
	font-family: 'Raleway Regular';
}


/*HEADER */

header{
	max-width: 1400px;
	width: 97%;
	margin: auto;
	margin-bottom: 30px;
}


.item1{
	margin-left:350px;
}
.conteneur1{
	display: grid;
	grid-template-columns: 55% 45%;
	grid-template-rows:  1fr;
	

}

.les3liens{
	grid-column-start: 2;
	grid-column-end:3 ;
	grid-row-start:1;
	grid-row-end: 2;
	
}

.letitrelogo{
	grid-column-start:1 ;
	grid-column-end:2 ;
	grid-row-start:1;
	grid-row-end: 2;

}



a{
	text-decoration: none;
}




hr{
	border: solid 2px #0065FC;
	width: 200px;
	
}


.item21{
	display:grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr;
}

.lienhostings{
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start:1;
	grid-row-end:2 ;
}

.lienactivities{
	grid-column-start:2;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end:2 ;
}



.liensinscrire{
	grid-column-start: 3;
	grid-column-end: 4;
	grid-row-start: 1;
	grid-row-end:2 ;
}

/* MAIN CORP */

main {
	max-width: 1400px;
	width: 97%;
	margin: auto;
}




.conteneur2 {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 0.5fr 1fr 0.1fr 0.75fr;
	grid-gap: 0px;
}


.lesrecherchesetfiltres{
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 2;
	margin-bottom: 30px;
}

.hostingspluspopulars{
	grid-column-start:1 ;
	grid-column-end: 2;
	grid-row-start: 2;
	grid-row-end:3 ;
	margin-bottom: 30px;

}

.titleactivitiesmarseilles{
	grid-column-start:1 ;
	grid-column-end: 2;
	grid-row-start: 3;
	grid-row-end: 4;
}

.lesactivities{
	grid-column-start:1 ;
	grid-column-end: 2;
	grid-row-start: 4;
	grid-row-end: 5;
}



/* LES RECHERCHES + FILTRES + INFO */

.lesrecherchesetfiltres{
	display:grid;
	grid-template-columns: 1fr;
	grid-template-rows: 0.5fr 0.25fr 0.35fr .25fr ;
	grid-gap: 10px;
}


.letitre{
	grid-column-start:1 ;
	grid-column-end:2 ;
	grid-row-start:1;
	grid-row-end: 2;
}

.la_barre_de_recherche{
	grid-column-start:1 ;
	grid-column-end:2 ;
	grid-row-start:2;
	grid-row-end: 3;
}

.lesfiltres{
	grid-column-start:1 ;
	grid-column-end:2 ;
	grid-row-start:3;
	grid-row-end: 4;
}

.lesinfos{
	grid-column-start:1 ;
	grid-column-end:2 ;
	grid-row-start:4;
	grid-row-end: 5;
}


/* barre de recherche */

.la_barre_de_recherche{
	display: inline-flex;
	flex-direction: row;
	margin-top: 20px;
}

.carte_icon{
	display: flex;
	justify-content: center;
	align-items:center;
	width: 50px;
	height: auto;
	background-color: #F2F2F2;
	border-radius: 15px 0 0 15px;
}

.map_icon{
	font-size: 20px;
	color: black;
}

.boutton_de_recherche{
	padding: 0 0 0 20px;
	height: 60px;
	width: 200px;
	border: none;
	border-top: solid 1px #F2F2F2;
	border-bottom: solid 1px #F2F2F2;
}

.boutton_de_recherche::placeholder{
	color: grey;
	font-size: 19px;
	font-weight: 600;
}


.boutton_rechercher{
	border:none;
	border-radius: 0 15px 15px 0;
	background-color: #0065FC;
	color: white;
	font-weight: 700;
	font-size: 20px;
	padding: 15px;
}

.boutton_rechercher:hover{
	background-color:#DEEBFF;
	transition: ease 0.3s;
}

/* FILTRES */ 

.lesfiltres{
	margin-top: 20px;
}

.barre_de_filtres{
	display: grid;
	grid-template-columns: 0.5fr 0.25fr 0.25fr 0.25fr 1.5fr 2fr ;
	grid-template-rows: 1fr;
}

.titlefiltres{
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 2;
}



.icon1{
	grid-column-start: 2;
	grid-column-end:3;
	grid-row-start:1 ;
	grid-row-end:2 ;
}

.icon2{
	grid-column-start:3;
	grid-column-end: 4;
	grid-row-start: 1;
	grid-row-end:2 ;
}

.icon3{
	grid-column-start: 4;
	grid-column-end: 5;
	grid-row-start: 1;
	grid-row-end: 2;
}

.icon4{
	grid-column-start:5;
	grid-column-end:6 ;
	grid-row-start:1 ;
	grid-row-end: 2;
}



.tous_icon_filtres{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50px;
	height: 50px;
	background-color: #F2F2F2;
	border-radius:25px;
}

.icon_filtres{
	font-size: 20px;
	color: #0065FC;
}

.bouton_btn{
	border:none;
	border-radius:20px;
	background-color: white;
	font-weight: 600;
	font-size: 20px;
	cursor:grab;
}

.bouton_btn:hover{
	background-color: #DEEBFF;
	transition: ease 0.3s;
}

.full_btn{
	display: inline-flex;
	margin-right: 30px;
	border: solid 2px #F2F2F2;
	border-radius: 25px;
	height: 47px;
}



/* info */

#para_info{
	color:grey;
}

.icon_info{color: #0065FC;}




/*   HEBERGEMENT + LES PLUS POPULAIRES */

.hostingspluspopulars{
	display: grid;
	grid-template-columns: 1.9fr 1fr;
	grid-template-rows: 1fr;
	grid-gap: 20px;
}

.hostings{
	grid-column-start:1 ;
	grid-column-end:2 ;
	grid-row-start:1;
	grid-row-end: 2;
}


.populars{
	grid-column-start:2 ;
	grid-column-end:3 ;
	grid-row-start:1;
	grid-row-end: 2;
}

/* HEBERGEMENTS A MARSEILLE */

.hostings{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 0.25fr 1fr 1fr 0.25fr;
	grid-gap: 20px;
	background-color: #F2F2F2;
	border-radius: 20px;
	padding: 15px;
}

.titrehostings{
	grid-column-start:1 ;
	grid-column-end:2 ;
	grid-row-start:1 ;
	grid-row-end: 2;
}

.lacarte1{
	grid-column-start: 1;
	grid-column-end:2 ;
	grid-row-start: 2;
	grid-row-end: 3;
}

.lacarte2{
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 2;
	grid-row-end: 3;
}

.lacarte3{
	grid-column-start: 3;
	grid-column-end:4 ;
	grid-row-start: 2;
	grid-row-end:3;
}

.lacarte4{
	grid-column-start: 1;
	grid-column-end:2 ;
	grid-row-start: 3;
	grid-row-end: 4;
}

.lacarte5{
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 3;
	grid-row-end:4 ;
}

.lacarte6{
	grid-column-start: 3;
	grid-column-end:4 ;
	grid-row-start:3 ;
	grid-row-end:4 ;
}

.afficherplus{
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 4;
	grid-row-end:5 ;
}


.lescarteshostings{
	border-radius: 20px;
	background-color: white;
	padding: 5px;
	box-shadow: 10px 10px 10px #E4E1E1;
	font-size: 18px;
}

.lescarteshostings > .cartehostingimg{
	width: 250px;
	height: 100px;
	background-size: 100% 100%;
	border-radius: 20px 20px 0 0;
}

.hostings img{
	width: 100%;
	height: 100px;
	border-radius: 20px 20px 0 0;
	object-fit: cover;
}

.hostings a {
	text-decoration: none;
	color: black;
}

.etoile_pleine{
	color: #0065FC;
}

.etoile_vide{
	color: #0065FC;
}